# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/.kotlin/
android/app/build/
ios/Pods/
ios/build/

# Metro
.metro-health-check*

# Local env files
.env
.env.local
.env.*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
AGENTS.md

# TypeScript
*.tsbuildinfo
 

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Generated
app-example/
expo-env.d.ts